@import "../../utils/vars.scss";

    div{
        height: 100%;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        form{
            height: 90%;
            width: 32%;
           
            figure{
                height: 40%;
                width: 95%;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                img{
                    width: 100%;
                    padding-bottom: 20%;
                }
            }

            .info{
                width: 95%;
                height: 15%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                label{
                    font-size: 1.4rem;
                    color: $black;
                }

                input{
                    border:none;
                    background: none;
                    font-size: 1.4rem;
                    outline: none;
                }

                p{
                    font-size: 0.9rem;
                    //color: ;
                }

            }
            .button{
                height: 30%;
                width: 95%;
                display: flex;
                justify-content: center;
                padding-top: 20%;

                button{
                    height: 3rem;
                    width: 18rem;
                    background: black;
                    border-radius: 0.6rem;
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }