@import "../../utils/vars.scss";

.options-nav{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    section{

        p{
            font-size: 1.2rem;
            color: $gray;
        }
    }
}