.items{

    width: 100%;

    section{

        .products{
            width: 50%;
        }

        .counter{
            width: 50%;
        }

        .delete{
            width: 50%;
        }


    }
}