@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import "./utils/vars.scss" ;

#root {
  //max-width: 1024px; 
  height: 100vh;
  width: 100vw;
}

*{
  margin: 0 ;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box
}

body{
  max-width: 1024px; 
  background-color: $white;
}

::placeholder{
  color: $gray-dark;
}
